<section>
  <h1>Seccion de pruebnas</h1>
  <p>{{ section.settings.title }}</p>
  <div class="slider-container">
    <div class="slider">
      {% for block in section.blocks %}
        <div class="slide">
          {% if block.settings.slide_image1 %}
            <img src="{{ block.settings.slide_image1 | img_url: 'medium' }}" alt="Slide 1">
          {% endif %}
          {% if block.settings.slide_image2 %}
            <img src="{{ block.settings.slide_image2 | img_url: 'medium' }}" alt="Slide 2">
          {% endif %}
          <h3>{{ block.settings.title2 }}</h3>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testing Section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Esto es Label",
      "default": "Texto por defecto",
      "info": "Informacion sobre este setting",
      "placeholder": "Placeholder"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Esto es Label 2",
      "default": "Texto por defecto 2",
      "info": "Informacion sobre este setting 2",
      "placeholder": "Placeholder 2"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Block Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image1",
          "label": "Slide Image 1"
        },
        {
          "type": "image_picker",
          "id": "slide_image2",
          "label": "Slide Image 2"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Esto es Label 2",
          "default": "Texto por defecto 2",
          "info": "Informacion sobre este setting 2",
          "placeholder": "Placeholder 2"
        }
      ]
    }
  ]
}
{% endschema %}
