<section>
  <h1>Seccion de pruebnas</h1>
  <p>{{ section.settings.title }}</p>
</section>

{% schema %}
{
  "name": "Testing Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Esto es Label",
      "default": "Texto por defecto",
      "info": "Informacion sobre este setting",
      "placeholder": "Placeholder"
    }
  ]
}
{% endschema %}
