<section>
  <h1>Seccion de pruebnas</h1>
  <p>{{ section.settings.title }}</p>
</section>

{% schema %}
{
  "name": "Testing Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Esto es Label",
      "default": "Texto por defecto",
      "info": "Informacion sobre este setting",
      "placeholder": "Placeholder"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Esto es Label 2",
      "default": "Texto por defecto 2",
      "info": "Informacion sobre este setting 2",
      "placeholder": "Placeholder 2"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "En panle de config",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image1",
          "label": "Slide Image 1"
        },
        {
          "type": "image_picker",
          "id": "slide_image2",
          "label": "Slide Image 2"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Esto es Label 2",
          "default": "Texto por defecto 2",
          "info": "Informacion sobre este setting 2",
          "placeholder": "Placeholder 2"
        }
      ]
    }
  ]
}
{% endschema %}
