<section>
  <h1>Seccion de pruebnas</h1>
  <p>{{ section.settings.title }}</p>
</section>

{% schema %}
{
  "name": "Testing Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Esto es Label",
      "default": "Texto por defecto",
      "info": "Informacion sobre este setting",
      "placeholder": "Placeholder"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Esto es Label 2",
      "default": "Texto por defecto 2",
      "info": "Informacion sobre este setting 2",
      "placeholder": "Placeholder 2"
    }
  ]
}
{% endschema %}
